---
const {title} = Astro.props;
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/plugins/aos/aos.min.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - Niklas</title>
</head>
<body class="text-white antialiased">
    <slot/>

    <script>
        import AOS from 'aos';
        AOS.init();
    </script>
</body>
</html>

<style lang="scss">
    body {
        background-color: rgb(16, 16, 16);
        background-image: radial-gradient( rgba(255, 255, 255, 0.1) 1px, transparent 1px );
        background-position: 50% 50%;
        background-size: 1.1vw 1.1vw;
    }
</style>